<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-key"></i> Change Password
      </h1>
		<% include ./partials/messages %>
      <form action="/change_password" method="POST">
        
        <div class="form-group">
          <label for="password2">New Password</label>
          <input
            type="password"
            id="new_password"
            name="new_password"
            class="form-control"
            placeholder="New Password"
            value=""
          />
        </div>
		
        <button type="submit" class="btn btn-primary btn-block">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>